Tut/Automated Cryptocurrency Trading Bot with Python - Pt. 1 Gathering Data.mp4
Tut/Automated Cryptocurrency Trading Bot with Python - Pt. 2 Bollinger Bands Backtesting.mp4
Tut/Automated Cryptocurrency Trading Bot with Python - Pt. 3 Double Bottom Bollinger Bands Backtesting.mp4
Tut/Automated Cryptocurrency Trading Bot with Python - Pt. 4 Machine Learning on Technical Indicators.mp4
Tut/Automated Cryptocurrency Trading Bot with Python - Pt. 5 Live Trading on the Binance API.mp4
Tut/Automated Cryptocurrency Trading Bot with Python - Pt. 6 Live Trading on the Binance API (cont.).mp4
Code/__pycache__/bclasses.cpython-39.pyc
Code/.ipynb_checkpoints/binancebot-checkpoint.ipynb
Code/binancebot_testing.ipynb
Code/Binancy_v0.01.py
Code/Binancy_v0.02.py
Code/Binancy.py
Code/firstrun.py
